<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thingtek.beanServiceDao.unit.dao.LXUnitDao">

    <select id="findAll" resultType="com.thingtek.beanServiceDao.unit.entity.LXUnitBean" parameterType="int">
        SELECT UNIT.UNIT_NUM AS UNIT_NUM
        ,UNIT.DATA_TABLE_NAME AS DATA_TABLE_NAME
        ,UNIT.PIPE_ID AS PIPE_ID
        ,UNIT.PIPE_PAGE AS PIPE_PAGE
        ,UNIT.x AS x
        ,UNIT.y AS y
        ,UNIT.FZ AS FZ
        ,UNIT.FDBS AS FDBS
        ,UNIT.IP AS IP
        ,UNIT.PORT AS PORT
        ,UNIT.PLACE_VALUE AS PLACE_VALUE
        ,UNIT.PLACE_NAME AS PLACE_NAME
        ,UNIT.POINT AS POINT
        ,UNIT.ADDR AS ADDR
        FROM UNIT_DIS UNIT
        order by UNIT.UNIT_NUM asc
    </select>

    <update id="updateLXUnit">
        UPDATE
        UNIT_DIS UNIT
        SET
        PIPE_ID = #{unit.pipe_id}
        ,PIPE_PAGE = #{unit.pipe_page}
        ,x = #{unit.x}
        ,y = #{unit.y}
        ,FZ = #{unit.fz}
        ,FDBS = #{unit.fdbs}
        ,IP = #{unit.ip}
        ,PORT = #{unit.port}
        ,PLACE_VALUE = #{unit.place_value}
        ,PLACE_NAME = #{unit.place_name}
        ,POINT = #{unit.point}
        <where>
            UNIT_NUM = #{unit.unit_num}
        </where>
    </update>

    <delete id="deleteUnitByNum">
        DELETE FROM
        UNIT_DIS
        <where>
            UNIT_NUM IN
            <foreach collection="unit_nums" item="unit_num" open="(" close=")" separator=",">
                #{unit_num}
            </foreach>
        </where>
    </delete>

    <update id="createDataTable" parameterType="com.thingtek.beanServiceDao.unit.entity.LXUnitBean">
        CREATE TABLE IF NOT EXISTS ${data_table_name}  (
        `UNIT_NUM` int(5) DEFAULT #{unit_num},
        `DATASTRING` longtext,
        `XHQD` int(11) DEFAULT '0',
        `GATEWAYFRONTSJ` bigint(20) DEFAULT '0',
        `SERVERSJ` bigint(20) DEFAULT '0',
        `GATEWAYFRONTINDEX` int(11) DEFAULT '0',
        `SERVERINDEX` int(11) DEFAULT '0',
        `MININDEX` int(11) DEFAULT '0',
        `INSERTTIME` datetime DEFAULT NULL,
        `SAVETIME` timestamp NULL DEFAULT CURRENT_TIMESTAMP
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

    <delete id="dropDataTable" parameterType="java.lang.String">
        DROP TABLE IF EXISTS ${_parameter};
    </delete>

    <!-- 新增 -->
    <insert id="saveLXUnit">
        INSERT INTO
        UNIT_DIS
        (
        UNIT_NUM
        ,PIPE_ID
        ,PIPE_PAGE
        ,PLACE_NAME
        ,IP
        ,PORT
        ,DATA_TABLE_NAME
        )
        VALUES
        <foreach collection="units" open="(" separator="),(" close=")" item="unit">
            #{unit.unit_num}
            , #{unit.pipe_id}
            , #{unit.pipe_page}
            , #{unit.place_name}
            , #{unit.ip}
            , #{unit.port}
            , #{unit.data_table_name}
        </foreach>
        ON DUPLICATE KEY UPDATE
        PIPE_ID = #{unit.pipe_id}
        , PIPE_PAGE = #{unit.pipe_page}
        , DATA_TABLE_NAME = #{unit.data_table_name}
    </insert>
</mapper>