<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thingtek.beanServiceDao.warn.dao.WarnDao">
    <select id="getByPara" resultType="com.thingtek.beanServiceDao.warn.entity.WarnBean"
            parameterType="com.thingtek.socket.data.entity.DataSearchPara">
        SELECT * FROM DATA_WARN
        <where>
            <if test=" t1!=null or t2!=null ">
                AND
                <choose>
                    <when test=" t1!=null and t2!=null ">
                        INSERTTIME BETWEEN #{t1} AND #{t2}
                    </when>
                    <when test=" t1!=null and t2==null ">
                        INSERTTIME &gt; #{t1}
                    </when>
                    <when test=" t1==null and t2!=null ">
                        INSERTTIME &lt; #{t2}
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY inserttime DESC
    </select>
    <select id="getLastByUnit" resultType="com.thingtek.beanServiceDao.warn.entity.WarnBean">
        SELECT * FROM DATA_WARN
        ORDER BY inserttime DESC
        limit 1
    </select>
    <select id="getLast" resultType="com.thingtek.beanServiceDao.warn.entity.WarnBean"
            parameterType="com.thingtek.socket.data.entity.DataSearchPara">
        SELECT * FROM DATA_WARN
        ORDER BY inserttime DESC
        limit 10
    </select>
    <delete id="delete">
        DELETE FROM DATA_WARN
        <where>
            ID = #{id}
        </where>
    </delete>
    <insert id="save" parameterType="com.thingtek.beanServiceDao.warn.entity.WarnBean">
        INSERT INTO DATA_WARN
        (
        PIPE_ID,
        NEAR_UNIT_NUM,
        TO_UNIT_NUM,
        PLACE_VALUE,
        WARN_INFO,
        INSERTTIME
        )
        VALUES
        <foreach collection="array" item="warn" separator="),(" open="(" close=")">
            #{warn.pipe_id},
            #{warn.near_unit_num},
            #{warn.to_unit_num},
            #{warn.place_value},
            #{warn.warn_info},
            #{warn.inserttime}
        </foreach>
    </insert>
</mapper>